.container{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.input-bar{
    padding: 10px 40px;
    border-radius: 25px;
    border: none;
    box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.32);
    margin-top: 100px;
    transition: all 0.3s;
}
.input-bar:hover{
    transform: scale(1.1);
}
.add-btn{
    background-color: rgb(53, 53, 53);
    color: white;
    padding: 8px 40px;
    border-radius: 10px;
    margin-top: 100px;
}
.content{
    margin-top: 25px;
    font-size: 20px;
    padding: 20px 190px;
    color: rgb(61, 61, 61);
}
.taskData{
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(61, 61, 61);
}
.taskData p{
    margin-left: 25px;
    flex-grow: 1;
}
.taskData i{
    cursor: pointer;
    margin-right: 20px;
    align-self: center
}